<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zqx.java.springboot.mapper.UserMapper">

    <resultMap id="userMap" type="com.zqx.java.springboot.entity.User">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="city" property="city"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
    </resultMap>

    <select id="findAll" resultMap="userMap">
        SELECT id, login_name, `password`, city, age, sex FROM USER_INFO
    </select>

    <select id="getUserByName" parameterType="string" resultMap="userMap">
        SELECT id, login_name, `password`, city, age, sex FROM USER_INFO WHERE login_name = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.zqx.java.springboot.entity.User">
        INSERT INTO USER_INFO(id, login_name, `password`, city, age, sex)  VALUES (DEFAULT, #{loginName}, #{password}, #{city}, #{age}, #{sex})
    </insert>

</mapper>