<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello,Mr.zhang</title>
</head>
<body>
    <h2>用户信息</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        <tr th:each="user : ${userList} ">
            <td th:text="${user.id}"></td>
            <td th:text="${user.loginName}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </table>
</body>
</html>
